# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*


crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

#key
*.pub
id_rsa.pub
id_rsa*
_variables.tf

